

.container2 form{
    width: 100vh !important;
    display: block;
    text-align: left;width: 100vh !important;
    display: block;
    text-align: left;
}
.container2 form input[type="text"]{
    padding: 10px;
    text-align: left;
    width: 100%;
}
.container2 form input{
    border: transparent;
    font-size: 1.5rem;
}
.container2 form h1{
    font-size: 4rem;
    margin-bottom: 0;
}
.container2 form h2{
    font-size: 3rem;
    font-weight: 200;
    margin:-10px 0 10px 0;
}
.container2 form p, label{
    margin-top: 10px;
    font-size:1.5rem;
    display: block;
}
.container2 form input[type="submit"]{
    display: block;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 40px;
    outline: 1px solid red;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2rem;
}
.container2 form input[type="submit"]:hover{
    background-color: red;
}